@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap");

:root {
  /* color */
  --bg-color: #eae8fe;
  --button-color: #6327fe;
  --mobile-bg-color: #fff;

  /* color */
  --base-font-size: 9px;
  --button-font-size: 12px;
  --sub-button-font-size: 13px;
  --money-font-size: 14px;
}
/* 리셋 */
button {
  border: 0px;
  cursor: pointer;
}
/* 스크롤 수정 */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-thumb {
  background-color: #fff;
  background-clip: padding-box;
  display: block;
  width: 4px;
  border-radius: 50px;
  border: 4px solid transparent;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}

/*스크린 리더 전용*/
.text-hide {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
/* 스타일 */
body {
  background: var(--bg-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Noto Sans KR";
  font-size: var(--base-font-size);
}

header {
  margin-bottom: 67px;
}

img.img_logo {
  width: 386px;
}

main {
  display: flex;
}
/* 메인 섹션 스타일*/
section.vending_wrapper {
  width: 360px;
  margin-right: 28px;
  padding: 31px 27px 28px 27px;
  box-sizing: border-box;
  background-color: #fff;
}

/* 벤딩 메뉴 스타일*/
ul.vending_menu {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 94px);
  gap: 12px;
  margin-bottom: 20px;
  min-height: 272px;
}
ul.vending_menu > figure.cola_wrapper {
  width: 94px;
  height: 130px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #fff; /*삭제예정*/
}

figure.select {
  border: 3px solid #6327fe;
}

figure.cola_wrapper > figcaption {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  font-size: 9px;
  line-height: 13px;
}
figure.cola_wrapper button {
  width: 70px;
  color: white;
  background: var(--button-color);
  border-radius: 50px;
  border: 0px;
  margin-top: 7px;
  text-align: center;
  padding: 5px 0px;
  font-weight: 500;
  font-size: var(--button-font-size);
  line-height: 100%;
}
figure.cola_wrapper > img {
  width: 36px;
  height: 65px;
  border-radius: 10px;
}
button.buy_button::after {
  content: "원";
}

.sold_out::after {
  content: "";
  position: absolute;
  width: 94px;
  height: 130px;
  background: rgba(0, 0, 0, 0.8);
  background-image: url("../img/Sold-out.png");
  background-size: 57.51px 44.85px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}
/* 컨트롤러 스타일 */
section.controller {
  display: grid;
  grid-template-columns: 200px 94px;
  gap: 12px;
}
section.controller * {
  border-radius: 5px;
}

section.controller button {
  font-size: var(--sub-button-font-size);
  line-height: 19px;
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
}

section.controller > div.left_money {
  background: var(--bg-color);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--money-font-size);
  line-height: 20px;
  padding: 6px 10px 7px 10px;
}
div.left_money > span#leftMoney::after {
  content: "원";
}
section.controller > input#money_input {
  height: 33px;
  border: 1px solid #bdbdbd;
  padding: 6px;
  box-sizing: border-box;
}
section.controller > button.get_button {
  background: var(--button-color);
  height: 106px;
  font-weight: 700;
  font-size: var(--sub-button-font-size);
  line-height: 19px;
  color: #fff;
}
section.controller > ul.shopping_list {
  height: 106px;
  background-color: var(--bg-color);
  padding: 12px;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
}

ul.shopping_list > li {
  position: relative;
  background-color: #fff;
  width: 170px;
  height: 46px;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
}
ul.shopping_list img {
  width: 18px;
  height: 33px;
  margin-left: 10px;
  margin-right: 10px;
}
li.shopping_item > div.item_count {
  position: absolute;
  right: 10px;
  width: 30px;
  height: 30px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
}

/* 결과창 */
section.vending_result {
  width: 360px;
}

section.vending_result > div.money_wrapper {
  width: 360px;
  height: 50px;
  background-color: #fff;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1px;
}

div.money_wrapper > div.own_money {
  width: 306px;
  box-sizing: border-box;
  background: var(--bg-color);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--money-font-size);
  line-height: 20px;
  padding: 6px 10px 7px 10px;
}
div.own_money > span:nth-child(2) {
  font-weight: 700;
}

div.own_money > span:nth-child(2)::after {
  content: "원";
}

section.output {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 27px;
  box-sizing: border-box;
  height: 473px;
}

section.output > h2 {
  margin-top: 25px;
  margin-bottom: 13px;
  font-size: var(--money-font-size);
  line-height: 20px;
  font-weight: 700;
}

section.own_cola {
  width: 306px;
  height: 364px;
  background-color: var(--bg-color);
  margin-bottom: 6px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}

section.output > span.used_money {
  margin-bottom: 26px;
  font-weight: 500;
  font-size: var(--button-font-size);
  line-height: 17px;
  align-self: flex-end;
}

section.own_cola > ul.own_cola_list {
  height: 100%;
  background-color: var(--bg-color);
  padding: 12px;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
}

ul.own_cola_list > li {
  position: relative;
  background-color: #fff;
  width: 276px;
  height: 46px;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
ul.own_cola_list img {
  width: 18px;
  height: 33px;
  margin-left: 10px;
  margin-right: 10px;
}
li.own_cola_item > div.item_count {
  position: absolute;
  right: 10px;
  width: 30px;
  height: 30px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
}
/*  미디어 쿼리 */
@media (max-width: 360px) {
  body {
    background-color: var(--mobile-bg-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Noto Sans KR";
    font-size: var(--base-font-size);
  }

  header {
    margin-bottom: 18px;
  }

  img.img_logo {
    width: 166px;
  }

  main {
    display: flex;
    flex-direction: column;
  }
  section.vending_wrapper {
    padding: 31px 27px 20px 27px;
    margin-right: 0px;
  }

  section.controller > input#money_input {
    text-align: right;
  }

  ul.shopping_list > li {
    border: 1px solid #bdbdbd;
    background-color: #fff;
    width: 170px;
    height: 46px;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
  }

  section.vending_result > div.money_wrapper {
    margin-bottom: 41px;
  }
}
